{% extends 'base.html'%}
{% load static %}

<!doctype html>
<html lang="es">
  <head>
    {%block title%}<title>Landing Page</title>{%endblock%}
    {% block active1 %}active{% endblock %}
</head>
<body>
<main>
{% block content %}
  <div id="myCarousel" class="carousel slide bg-black" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/2000/500" alt="Imagen externa">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Sprint 6 Modulo6</h1>
            <p>Se creo una lista de usuarios dinamica</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'usuarios' %}">Ver Usuarios</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/2000/501" alt="Imagen externa">
        <div class="container">
          <div class="carousel-caption">
            <h1>Registro</h1>
            <p>Tambien un registro de usuarios normal</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'registro_usuario' %}">registrar un usuario</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/2000/502" alt="Imagen externa">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Registro solo si eres admin</h1>
            <p>y un formulario de registro de usuario asignandole un grupo con provilegios diferenciados</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'usuario_grupo' %}">Registar usuario y grupo</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- contenido -->

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="featurette-heading">Agregamos imagenes</span></h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto sunt magnam cumque laborum obcaecati quia, atque quos consectetur repudiandae dolor quasi tenetur, aut perferendis saepe dolorem incidunt voluptates earum cum?
      </div>
      <div class="col-sm">
        <img src="{% static 'img/886-500x500.jpg' %}" alt="imagen" class="imagen-top rounded">
      </div>
      <div class="col-sm">
        <img src="{% static 'img/643-500x500.jpg' %}" alt="imagen" class="imagen-top rounded">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

{% endblock %}
</main>
  </body>
</html>