{% extends 'base.html'%}
{% load static %}

{%block title%}<title>Usuarios</title>{%endblock%}

{% block content %}
<section class="m-usuario">
    <table class="table">
    <thead>
        <tr>
            <th class="celda1">Nombre de Usuario</th>
            <th class="celda1">Nombre</th>
            <th class="celda1">Apellido</th>
            <th class="celda1">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</section>

{% endblock %}

